[run]
source = .
omit = */env/*
    */miqenv/*
    */shopyenv/*
    */tests/*
    */migrations/*
    */urls.py
    */runtests.py
    */setup.py
    */settings/*
    */wsgi.py
    */asgi.py
    manage.py
    fabfile.py